<div layout>
  <div flex="50">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-raised">Load</md-button>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-input-container class="md-block">
      <label>Battle.net ID</label>
      <input ng-model="cc.leftBnetID">
    </md-input-container>
  </div>
  <div flex="50">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-raised">Load</md-button>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-input-container class="md-block">
      <label>Battle.net ID</label>
      <input ng-model="cc.rightBnetID">
    </md-input-container>
  </div>
</div>
